
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAttachmentLabel">Create or edit a Attachment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.attachment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.attachment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_file_name">File Name</label>
            <input type="text" class="form-control" name="file_name" id="field_file_name"
                    ng-model="vm.attachment.file_name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                    ng-model="vm.attachment.created_by"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.attachment)">
            <label class="control-label" for="field_file">File</label>
            <div>
                <div ng-if="vm.attachment.file" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.attachment.fileContentType, vm.attachment.file)">open</a><br>
                    <span class="pull-left">{{vm.attachment.fileContentType}}, {{vm.byteSize(vm.attachment.file)}}</span>
                    <button type="button" ng-click="vm.attachment.file=null;vm.attachment.fileContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFile($file, vm.attachment)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    ng-model="vm.attachment.file"
                    />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                    ng-model="vm.attachment.fileContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="vm.attachment.version"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
